{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block title %}New subject{% endblock %}

{% block content %}
  <div class="card border-info mt-5 w-50 mx-auto">
        <h5 class="card-header text-white bg-info">{% trans 'New assignment for' %} {{ subject.name }} </h5>
        <div class="card-body">
            <form method="post">
                {% crispy form %}
                <input class="btn btn-primary" type="submit" value="{% translate 'Submit' %}">
            </form>
        </div>
    </div>
{% endblock %}